/* Las de abajo son por ahora.... */
img{
    height: 60px;
    width: 80px;
}

.foto-perfil{
    border-radius: 50%;
    height: 270px;
    width: 270px;
    margin-right: 20px;
    margin-left: 40px;
}

.foto-sobre-mi{
    border-radius: 50%;
    height: 270px;
    width: 270px;
    margin-left: 15px;
}


/* Ac치 empiezan las que van definitivamente */
:root{ --transition-buttons: 1.5s;

}

body,html{
    display: flex;
    flex-direction: column;
    background-color: rgb(16,24,32);
    color:rgb(249,249,249);
    justify-content: center;
    align-items: center;
    padding: 0% 8%;
}

header{
    border: 1px solid wheat;
    background-color: rgb(16,24,32);
    width: 100%;
    position: fixed;
    top: 0;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.header-izq{
    display: flex;
    align-items: center;
}

/* Barra de navegacion y sus divisiones */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px yellow solid;
    flex-basis: 100%;
    margin: 0px 20px;
    padding: 0 20px; /* Espacio interno a los lados */   
}

/* Boton de la parte derecha de la barra de navegacion */
.div-boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-button{
    align-self: center;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(254,231,21);
    background-color: rgb(16,24,32);
    color: rgb(254,231,21);
    transition: var(--transition-buttons);
}

.small-button:hover{
    background: rgb(254,231,21);
    color: rgb(16,24,32);
    cursor: pointer;
}

/* Secci칩n Hero */
.hero{
    display: flex;
    align-items: center;
    height: 65vh;
}

/* .div-foto-rostro{
    height:100%;
} */

.big-button{
    padding: 15px 40px;
    border-radius: 40px;
    width: 160px;
    border: 1px solid rgb(254,231,21);
    background-color: rgb(16,24,32);
    color: rgb(254,231,21);
    margin-right: 15px;
    transition: var(--transition-buttons);
}

.big-button:hover{
    background: rgb(254,231,21);
    color: rgb(16,24,32);
    cursor: pointer;
}

/* Seccion Sobre mi */
.sobre-mi{
    display:flex;
    flex-direction: column;
}

.sobre-mi h1{
    line-height: 16px;
    margin: 8px 0px 0px 0px;
}

.sobre-mi-top{
    display: flex;
    align-items: center;
    padding: 0px;
}

.div-borde-blanco{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border: 1px dashed rgb(249,249,249);
    border-radius: 20px;
    margin-left: 15px;
    padding: 0px 0px 30px 20px;
}

.services-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-radius: 25px;
    width: 300px;
    border: 1px solid rgb(254,231,21);
    background-color: rgb(16,24,32);
    color: rgb(254,231,21);
    margin-right: 15px;
    margin-top: 15px;
    transition: var(--transition-buttons);
}

.services-button:hover{
    background: rgb(254,231,21);
    color: rgb(16,24,32);
    cursor: pointer;
}

.flechas-icons{
    font-size: 25px;
}

/* Subseccion con cuadros amarillos e im치genes */
.destacados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.destacados div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border: 1px dashed rgb(254,231,21);
    border-radius: 20px;
    padding: 10px 25px 5px 25px;
    align-self: stretch;
    width: 26%;
}

.destacados p{
    color: rgb(254,231,21);
    font-size: 14px;
    font-weight: 400;
    width:250px;
}

.destacados i{
    color: rgb(254,231,21);
    font-size: 60px;
    margin: 10px 0px;
}

.destacados h2{
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    font-style: normal;
}

/* Seccion habilidades */
.habilidades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    border: none;
}

.habilidades div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: rgb(16,24,32);
    background-color: rgb(254,231,21);
    border: 1px dashed rgb(254,231,21);
    border-radius: 20px;
    padding: 10px 25px 5px 25px;
    align-self: stretch;
    width: 26%;
}

.habilidades p{
    color: rgb(16,24,32);
    font-size: 14px;
    font-weight: 400;
    width:250px;
}

.habilidades i{
    color: rgb(16,24,32);
    font-size: 60px;
    margin: 10px 0px;
}

/* Seccion Proyectos */
.proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    border: none;
}

.proyectos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: rgb(16,24,32);
    background-color: rgb(254,231,21);
    border: 1px dashed rgb(254,231,21);
    border-radius: 20px;
    padding: 10px 25px 5px 25px;
    align-self: stretch;
    width: 26%;
}

.proyectos p{
    color: rgb(16,24,32);
    font-size: 14px;
    font-weight: 400;
    width:250px;
}

/* Secci칩n Servicios */
.servicios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    border: none;
}

.servicios div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border: 1px dashed rgb(254,231,21);
    border-radius: 20px;
    padding: 10px 25px 15px 25px;
    align-self: stretch;
}

.servicios h1{
    font-size: 20px;
    font-weight: 600;
}

.servicios p{
    color: rgb(249,249,249);
    font-size: 14px;
    font-weight: 400;
    width:250px;
}

.servicios i{
    color: rgb(254,231,21);
    font-size: 60px;
    margin: 10px 0px;
}

.servicios button{
    color: rgb(16,24,32);
    background-color: rgb(254,231,21);
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    padding: 7px 30px;
}

button:hover{
    cursor:pointer;
}

/* Seccion de Testimonios */
.testimonios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    border: none;
    /* border: white solid 2px; */
}

.testimonios img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonios section{
    border: none;
    margin: 15px 0px;
}

.testimonios div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border: 1px dashed rgb(254,231,21);
    border-radius: 20px;
    padding: 10px 25px 15px 25px;
    align-self: stretch;
}

.testimonios p{
    color: rgb(249,249,249);
    font-size: 14px;
    font-weight: 400;
    width:200px;
}

.stars::before {
    content:'\f005\00A0\f005\00A0\f005\00A0\f005\00A0\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: rgb(254,231,21);
}


/* Seccion de contacto */
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.contacto div{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    border: none;
}

.contacto input{
    padding: 10px 10px;
    border-radius: 7px;
}

.contacto textarea{
    padding: 10px 10px;
    border-radius: 7px;
    height: 100px;
}

form{
    display: flex;
    flex-direction: column;
    width: 45%
}


/* Generales */

section{
    border: 2px solid rgb(186, 14, 14);
    margin: 15px 0px;
    width: 100%;
}

div{
    border: 2px solid green;
    margin: 5px 0px;

}