/* Las de abajo son por ahora.... */
img{
    height: 60px;
    width: 80px;
}

.foto-sobre-mi{
    height: 15%;
    width: 15%;
    border-radius: 50%;
}

.foto-rostro{
    border-radius: 50%;
    height: 220px;
    width: 220px;
}

/* Acá empiezan las que van definitivamente */
:root{

}

body,html{
    display: flex;
    flex-direction: column;
    background-color: rgb(16,24,32);
    color:rgb(249,249,249);
    justify-content: center;
    align-items: center;
    padding: 0% 8%;
}

header{
    width:100%;
    border: 2px solid wheat;
}

/* Barra de navegacion y sus divisiones */
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-izq{
    display: flex;
    align-items: center;
}

.nav-centro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

/* Boton de la parte derecha de la barra de navegacion */
.small-button{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(254,231,21);
    background-color: rgb(16,24,32);
    color: rgb(254,231,21);
}

/* Sección Hero */
.hero{
    display: flex;
    align-items: center;
}

.div-foto-rostro{
    height:100%;
}

.big-button{
    padding: 15px 40px;
    border-radius: 40px;
    width: 160px;
    border: 1px solid rgb(254,231,21);
    background-color: rgb(16,24,32);
    color: rgb(254,231,21);
    margin-right: 15px;
}



section{
    border: 2px solid rgb(186, 14, 14);
    margin: 25px 0px;
    width: 100%;
}

div{
    border: 2px solid green;
    margin: 25px 0px;
}